{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    
   <!-- <div class="container"> -->
     <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            TestDrives
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">testdrives</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
     <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <a href="#" id ="export" class="btn btn-success" role='button'>Descargar excel</a>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover" id="tableContact">
                    <tbody><tr>
                      <!-- <th>ID</th> -->
                      <th>Nombre</th>
                      <th>Paterno</th>
                      <th>Materno</th>
                      <th>Dni o Extranjería</th>
                      <th>Email</th>
                      <th>Distrito</th>
                      <th>Celular</th>
                      <th>Modelo</th>
                      <th>Forma contacto</th>
                      <th>Comentario</th>
                      <th>Newsletter</th>
                      <th>Políticas</th>
                      <td>Acciones</td>
                    </tr>
                    {% for testdrive in testdrives %}
                    <tr>
                      <td>{{testdrive.nombre}}</td>
                      <td>{{testdrive.apePaterno}}</td>
                      <td>{{testdrive.apeMaterno}}</td>
                      <td>{{testdrive.dniExtranjeria}}</td>
                      <td>{{testdrive.email}}</td>
                      <td>{{testdrive.distrito}}</td>
                      <td>{{testdrive.celular}}</td>
                      <td>{{testdrive.modelo}}</td>
                      <td>{{testdrive.formaContacto}}</td>
                      <td>{{testdrive.comentario }}</td>
                      <td>{{testdrive.newsletter}}</td>
                      <td>{{testdrive.politicas}}</td>
                      <td><a href="{{path("blog_delete_testdrives", {"id":testdrive.id})}}" class="btn btn-danger">Eliminar</a></td>

                     
                    </tr>
                    {% endfor %}
                    
                  </tbody></table>
                </div><!-- /.box-body -->

                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    {% if(page == 1) %}

                    {% else %}
                      {% set page = page - 1 %}
                    {% endif %}
                    
                    <li><a href="{{path('blog_testdrives', {"page":page})}}">&laquo;</a></li>

                    {% for i in 1..pagesCount %}
                        <li><a href="{{path('blog_testdrives', {"page":i})}}">{{i}}</a></li>
                    {% endfor %}

                    
                    {% if (page_m == pagesCount) %}
                    
                    {% else %}
                      {% set page_m = page_m + 1 %}
                    {% endif %}

                    <li><a href="{{path('blog_testdrives', {"page":page_m})}}">&raquo;</a></li>
                    
                  </ul>
                </div>

              </div><!-- /.box -->
            </div>
          </div>

        </section>
      </div>

   <!-- </div>  -->

{% endblock %}